<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlarmFilter</key>
	<true/>
	<key>AlarmsDisabled</key>
	<true/>
	<key>AttachmentFilter</key>
	<true/>
	<key>AutoProvisioned</key>
	<true/>
	<key>AutoRefresh</key>
	<true/>
	<key>Checked</key>
	<integer>1</integer>
	<key>Color</key>
	<string>#FB0055FF</string>
	<key>Enabled</key>
	<true/>
	<key>EventContainer</key>
	<true/>
	<key>IsSubscription</key>
	<true/>
	<key>Key</key>
	<string>685380FC-5DAB-4250-AF08-9D7C3D1A0F3E</string>
	<key>LanguageCode</key>
	<string>fr</string>
	<key>LocationCode</key>
	<string>FR</string>
	<key>NeedsRefresh</key>
	<false/>
	<key>Order</key>
	<integer>1</integer>
	<key>RefreshDate</key>
	<date>2024-01-21T07:47:00Z</date>
	<key>RefreshInterval</key>
	<integer>604800</integer>
	<key>ShareDefaultAlarmSettings</key>
	<false/>
	<key>SubscriptionTitle</key>
	<string>Fêtes (France)</string>
	<key>SubscriptionURL</key>
	<string>https://p01-calendars.icloud.com/holidays/fr_fr.ics</string>
	<key>TaskContainer</key>
	<false/>
	<key>TaskFilter</key>
	<true/>
	<key>Title</key>
	<string>Fêtes (France)</string>
	<key>Type</key>
	<string>Subscription</string>
</dict>
</plist>
