<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACAccountID</key>
	<string>F7D54ACA-D33C-46EC-BEBD-9467CAB79608</string>
	<key>AccountIsEnabledForCalendar</key>
	<false/>
	<key>AccountIsEnabledForReminders</key>
	<false/>
	<key>AutoScheduleSupport</key>
	<false/>
	<key>CalendarHomeSyncSupported</key>
	<false/>
	<key>CalendarProxySupport</key>
	<false/>
	<key>CalendarServerPrivateEventsSupport</key>
	<false/>
	<key>Color</key>
	<string>#6C6C6CFF</string>
	<key>Delegate</key>
	<false/>
	<key>Enabled</key>
	<true/>
	<key>ExpandPropertyReportSupport</key>
	<false/>
	<key>Expanded</key>
	<true/>
	<key>FullName</key>
	<string>Santiago Velasco</string>
	<key>InboxAvailabilitySupport</key>
	<false/>
	<key>JunkReportingSupport</key>
	<false/>
	<key>KeepOffline</key>
	<false/>
	<key>Kerberos</key>
	<false/>
	<key>Key</key>
	<string>6EB395BC-555D-404D-96FC-731208AA9ABA</string>
	<key>LikenessPropagationSupport</key>
	<false/>
	<key>Login</key>
	<string>santiagovelasco2018@icloud.com</string>
	<key>ManagedAttachmentSupported</key>
	<false/>
	<key>Order</key>
	<integer>5</integer>
	<key>PreferredCalendarUserAddresses</key>
	<array/>
	<key>PrincipalURL</key>
	<string>https://p48-caldav.icloud.com/16197482708/principal/</string>
	<key>PrivateCommentsSupport</key>
	<false/>
	<key>PushDisabled</key>
	<false/>
	<key>RefreshInterval</key>
	<integer>900</integer>
	<key>RequestCompressionSupported</key>
	<false/>
	<key>ShareDefaultAlarmSettings</key>
	<true/>
	<key>SupportsDefaultAlarms</key>
	<true/>
	<key>SupportsNotSerializingTimezones</key>
	<false/>
	<key>SupportsPhoneNumbers</key>
	<false/>
	<key>SupportsRecurrenceSplitOnServer</key>
	<false/>
	<key>SupportsSharing</key>
	<false/>
	<key>SupportsSubscriptionCalendars</key>
	<false/>
	<key>Title</key>
	<string>iCloud</string>
	<key>Type</key>
	<string>CalDAV</string>
	<key>Writable</key>
	<true/>
	<key>isInSeparateWindow</key>
	<false/>
	<key>isManuallyConfigured</key>
	<false/>
</dict>
</plist>
