<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Calendars</key>
	<array>
		<string>0B87DD34-F202-4F3A-8089-F8C88E1D66A5</string>
		<string>131626E0-9E8D-4056-9D42-E38FE1D2E4B0</string>
		<string>C6EF280C-F2FE-4603-9D09-68BBCC0CABB7</string>
		<string>D33CFC78-8E03-4E66-94D9-9633CE367EE6</string>
	</array>
	<key>Color</key>
	<string>#808080FF</string>
	<key>Enabled</key>
	<true/>
	<key>Expanded</key>
	<false/>
	<key>Key</key>
	<string>FF0E3C26-ABCA-4E61-A897-3ECF76A1CC07</string>
	<key>Order</key>
	<integer>0</integer>
	<key>Title</key>
	<string>WorkCalendar</string>
	<key>Type</key>
	<string>Local</string>
</dict>
</plist>
